<ion-view view-title="Home">
    <ion-content>

        <!--{{teacher}}-->
        <!--{{pupilArray}}-->
<br>
        <div class="card">
            <div class="item item-text-wrap">

                Zu oft wird im Schulalltag wertvolle Übungszeit mit administrativen Tätigkeiten verloren, von denen viele sogar oft vergessen werden. Unmittelbares Feedback für Schüler und Lehrer ist schwierig zu realisieren und scheitert meist sowohl an der Zeit, als auch an der Schüleranzahl.
<br><br>
                DIe SchulSchublade bietet hier die passende Lösung und verbessert den Schulalltag für Schüler und Lehrer.
            </div>
        </div>


    </ion-content>
</ion-view>
