<ion-view view-title="Account">
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">

                <table style="width: 100%;vertical-align: middle">
                    <tr>
                        <td width="80%">
                            <div style="font-size: 1.3em">
                                {{pupilArray.first}} {{pupilArray.last}} <!--{{pupilArray.id}}-->
                            </div>
                        </td>
                        <td width="20%" style="text-align: right;font-size: 1.3em">

                            Punkte: {{pupilArray.points}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </ion-content>
</ion-view>
